<div class="title">About</div>
<p>
    This site was developed to be hosted on <a href="https://azure.microsoft.com/en-us/products/app-service/static">Azure Static Web Apps</a> and to evaluate its features.
</p>
<p>
    The application itself was developed with Angular 19 to evaluate Signals for app state, <a href="https://www.ag-grid.com/angular-data-grid/getting-started/">Angular AG Grid</a> for data and filtering, <a href="https://www.npmjs.com/package/@swimlane/ngx-charts">ngx-charts</a> for visuals, and mock data provided through the <a href="https://www.npmjs.com/package/angular-in-memory-web-api">angular in-memory web api library.</a>
</p>
