<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS Grid Layout</title>
</head>
<body>

  <div class="grid-container">
    <!-- Header -->
    <div class="header" style="display:flex; align-items: center;">
      <div style="display:flex; align-items:center; font-family: 'Poppins'; font-size: 24pt; color: silver">
        <div><img src="./assets/logos/header.png" alt="Logo" height="75" width="125" style="display:block"/>  </div>
        <div>Strategy Research
          <div style="font-size: 10pt; color: #A9A9A9; font-style:italic;">Consolidated Stock Market Analysis</div>
        </div>
      </div>
    </div>
    
    <!-- Left Navigation -->
    <div class="nav">
      <a href="#">Home</a>
      <a href="about/">About</a>
      <a href="services/">Services</a>
      <a href="contact/">Contact</a>
    </div>
    
    <!-- Main Content -->
    <div class="content">
        <router-outlet></router-outlet>
    </div>
  </div>
</body>
</html>

