 
 @if (authState()) {
    <div class="title">Demo - Calling Secure API</div>
    <p>Welcome, you're authenticated. Here's your data:</p>
    <button mat-button (click)="logout()">Logout</button>
    <button mat-button (click)="callApi()">Get APIM Data</button>
    <div>
          {{ apiResponse | json }}
    </div>
}
@else {
    <div class="title">🔒 Access Restricted</div>
    <p>Please log in to view your dashboard.</p>
    <!-- <button (click)="login()">Login</button>   -->
    <img src="../../assets/buttons/ms-symbollockup_signin_dark.png" 
        alt="Sign in with Microsoft" 
        style="  cursor:pointer; background: none; padding:0; margin:0;" 
        (click)="login()" />   
}
 
<div class="spinner-container" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>