<!-- 
@if (isAuthenticated()) {
    <h2>📊 ETF Dashboard</h2>
    <p>Welcome, you're authenticated. Here's your data:</p>
    <button (click)="logout()">Logout</button>
    //Protected content like APIM results, charts, etc. 
}
@else {
    <h2>🔒 Access Restricted</h2>
    <p>Please log in to view your dashboard.</p>
    <button (click)="login()">Login</button>
}-->

 @if (authState()) {
    <h2>📊 ETF Dashboard</h2>
    <p>Welcome, you're authenticated. Here's your data:</p>
    <button (click)="logout()">Logout</button>
    <button (click)="callApi()">Get APIM Data</button>
    <!-- Protected content like APIM results, charts, etc. -->
     {{ apiResponse | json }}
}
@else {
    <h2>🔒 Access Restricted</h2>
    <p>Please log in to view your dashboard.</p>
    <button (click)="login()">Login</button>
}