<ng-container *ngIf="stocks.length; else noData">
    <div style="font-family: 'Poppins'; font-size: 18pt; color: #313233">S&P 500</div>
    <!-- <ul>
        <li *ngFor="let stock of stocks">
            {{ stock.ticker }}: {{ stock.rating  }}
        </li>
    </ul> -->

    <ngx-charts-pie-chart
        [view]="view"
        [results]="pieChartData"
        [scheme]="colorScheme"
        [labels]="showLabels"
        [doughnut]="doughnut"
        [explodeSlices]="explodeSlices"
        [gradient]="gradient"
        (select)="onSliceClick($event)">
    </ngx-charts-pie-chart>

    <ag-grid-angular
        style="width: 90%; height: 500px;"
        [theme]="theme" 
        [rowData]="stocks"
        [columnDefs]="colDefs">
    </ag-grid-angular>

</ng-container>

<ng-template #noData>
    <p>No stock data available.</p>
</ng-template>