.drawer-container {
  width: 100%;
  height: 600px;
  margin: 12px;
 }

mat-drawer-container {
  margin: 0 !important;
  padding: 0 !important;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 !important ;
  padding: 0 !important;
}

mat-drawer {
  width: 70%;
  margin-bottom:15px;
  padding: 16px;
  background: #fff;
  border-right: 1px solid #ccc;
}

mat-chip-set {
  margin-bottom: 10px;
}

.title {
  font-family: 'Poppins'; 
  font-size: 18pt; 
  color: #313233
}

.charts-wrapper {
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  margin-bottom:10px;
  width: 100%;
}

.chart-container {
//   border:solid 1px silver;
 }
 
h3 {
  padding-bottom: 10px;
}