<ng-container *ngIf="stocks.length; else noData">
    <div style="font-family: 'Poppins'; font-size: 18pt; color: #313233">S&P 500</div>

    <div style="display: flex; justify-content: space-evenly; align-items: center;">

        <div>
            <h3>Ratings</h3>
            <app-pie-chart 
                [pieChartData]="pieChartDataRatings"
                pieChartKey="rating">
            </app-pie-chart>
        </div>
        <div>
            <h3>Sectors</h3>
            <app-pie-chart 
                [pieChartData]="pieChartDataSector"
                pieChartKey="sector">
            </app-pie-chart>
        </div>
        <div>
            <h3>Dividend Yield</h3>
            <app-pie-chart 
                [pieChartData]="pieChartDataDividend"
                pieChartKey="dividendYield">
            </app-pie-chart>    
        </div>
    </div>
    <div>
        <mat-chip-set>
            <mat-chip *ngFor="let key of objectKeys(filters)" (removed)="removeFilter(key)">
                {{ key }}: {{ filters[key] }}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-set>
    </div>
    <div>
        <mat-drawer-container class="drawer-container" [hasBackdrop]="false">
            <mat-drawer #sidenav mode="over" position="end" >
                <div style="display:flex; justify-content: flex-start; gap: 10px; align-items: center;">
                    <div  *ngIf="selectedRowData"><img src="../../assets/logos/{{selectedRowData.ticker}}.png" height="50" width="50"/></div>
                    <div><h2 *ngIf="selectedRowData">{{ selectedRowData.name }}</h2></div>
                </div>
                <div *ngIf="selectedRowData">{{ selectedRowData.about }}</div>
                <button mat-button (click)="sidenav.close()" style="margin-top:25px;">Close</button>
            </mat-drawer>
            <mat-drawer-content>
                <ag-grid-angular
                    style="width: 100%; height: 100%; border:solid 1px silver;"
                    [theme]="theme" 
                    [rowData]="stocks"
                    [columnDefs]="colDefs"
                    (gridReady)="onGridReady($event)"
                    (cellClicked)="onCellClicked($event)"
                    (filterChanged)="onFilterChanged()">
                </ag-grid-angular>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</ng-container>

<ng-template #noData>
    <p>Loading...</p>
</ng-template>